NODE_ENV=development
DATABASE_URL=postgresql://user:password@your-neon-host.neon.tech/dbname?sslmode=require
BETTER_AUTH_SECRET=your-secret-key-at-least-32-chars-long
APP_URL=http://localhost:3000
DEPLOY_WEBHOOK_URL=
APP_PORT=
